{
  "$schema": "http://json.schemastore.org/clasp",
  "scriptId": "---------------------YOUR SCRIPT ID----------------------",
  "rootDir": "project",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
